*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

header {
    background-color: gray;
    color: pink;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    font-style: italic;
}

nav ul {
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    Transition:opacity 0.8s;
}

nav li a:hover {
    background-color: #444;
    color:pink;
    cursor:pointer;
    opacity: 0.8;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
section:hover{
    background-color:rgb(240, 235, 236);

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}